<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2" style="text-transform:capitalize">Eğitmen Paneli</span>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a href="/TeacherReviews/Index" class="menu-link">
                <div>  <i class="bx bx-star"></i> Kurslarım</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/TeacherProfile/Index" class="menu-link">
               
                <div>  <i class="bx bx-lock"></i> Ayarlar</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/TeacherLogin/Logout" class="menu-link">
                <div>     <i class="bx bx-exit"></i> Çıkış Yap</div>
            </a>
        </li>
    </ul>
</aside>
