<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2" style="text-transform:capitalize">Eğitmen Paneli</span>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a href="/TeacherCourse/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-video"></i>
                <div>Kurslarım</div>
            </a>
        </li>
    </ul>
</aside>
