<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
          
             
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Dashboard/Index">İstatistikler <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Default/Index">Siteye Git <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/AdminLogin/Logout">Çıkış Yap <span class="sr-only"></span></a>
                        </li>
                    </ul>
                   
                </div>
       
        </div>
        
        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <li style="text-transform:capitalize"><strong>Hoşgeldiniz, @ViewBag.NameSurname</strong></li>
            <!--/ User -->
        </ul>
    </div>
</nav>
