@model LeanerProject.Models.Entities.Message
<div class="col-lg-7 mr-auto order-1" data-aos="fade-up" data-aos-delay="200">
    <form method="post">
        <div class="row">
            <div class="col-6 mb-3">
                <input type="text" name="NameSurname" class="form-control" placeholder="Ad Soyad">
            </div>
            <div class="col-6 mb-3">
                <input type="email" name="Email" class="form-control" placeholder="Email">
            </div>
            <div class="col-12 mb-3">
                <input type="text" name="Subject" class="form-control" placeholder="Başlık">
            </div>
            <div class="col-12 mb-3">
                <textarea id="" name="MessageContent" cols="30" rows="7" class="form-control" placeholder="Mesajınız"></textarea>
            </div>

            <div class="col-12">
                <i class="icon-send text-primary"></i>  <input type="submit" value="Mesaj Gönder" class="btn btn-primary" />
            </div>
        </div>
    </form>


</div>
