
<a href="/Messages/SendMessage/" class="btn btn-primary btn-block mb-3"><i class="bx bx-message-rounded-add"></i>    Yeni Mesaj Oluştur</a>
<div class="card">
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item active">
                <a href="/Messages/Index" class="nav-link">
                    <i class="bx bx-envelope"></i> Gelen Kutusu
                    <span class="badge bg-primary float-right">@ViewBag.InboxCount</span>
                </a>

            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="bx bx-mail-send"></i> Gönderilmiş Öğeler
                    <span class="badge bg-primary float-right">0</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="bx bx-trash "></i> Silinmiş Öğeler
                    <span class="badge bg-primary float-right">@ViewBag.TrashMessageCount</span>
                </a>
            </li>
        </ul>
    </div>
</div>
