
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script>
    function change(value) {
        if (value != "") {

        }
        else {
           
        }
    }
</script>

<section class="content">
    <div class="row">


        <div class="col-md-3">
            @Html.Action("MessagesSide", "Messages")
        </div>


        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Yeni Mesaj Gönder</h3><br />
                    <small>* İşaretli alanları eksiksiz doldurduğunuzdan emin olunuz.</small>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div>
                            <div class="form-group">
                                <input class="form-control" name="ReciverNameSurname" placeholder="Kime *:">
                            </div>
                            <br />
                            <div class="form-group">
                                <input class="form-control" name="Email" placeholder="Email *:">
                            </div>
                            <br />
                            <div class="form-group">
                                <input class="form-control" name="Subject" placeholder="Başlık: *">
                            </div>
                            <br />
                            <div class="form-group">
                                <textarea placeholder="Mesajınız *"  name="MessageContent" rows="10" class="form-control"></textarea>
                            </div>
                            <br />
                            <div class="form-group">

                                <i class="bx bx-paperclip"></i>
                                <label for="filechoose">Dosya Seç</label>
                                <p class="help-block"><small>Yanlızca ekte bir adet dosya gönderebilirsiniz. (İsteğe Bağlı)</small></p>
                                <input id="filechoose" type="file" class="form-control" name="Attachment">
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"><i class="bx bx-send"></i> Gönder</button>
                            </div>
                            <a href="/Images/Messages/b80bce12-2ee9-4c82-9ed8-0856ae05f722.txt" download="">.txt dosyasını aç</a>

                        </div>
                    </form>
            

                </div>

            </div>

        </div>


    </div>
</section>