@model List<LearnerProject.Models.Entities.Review>
<div class="container">
    
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            double islem = 0;
            islem = 5 - item.ReviewValue;
            <div class="row">
                <div class="col-12 ">
                    <div class="custom-media">
                        <div class="custom-media-body">
                            <div class="d-flex justify-content-between pb-3">
                                <div class="text-primary"><span class="uil uil-user"></span> <span>@item.Student.NameSurname</span></div>
                                <div class="review">
                                    <span class="text-primary">
                                        @for (int i = 0; i < item.ReviewValue; i++)
                                        {
                                            <i class="bx bxs-star"></i>
                                        }
                                        @for (int i = 0; i < islem; i++)
                                        {
                                            <i class="bx bx-star"></i>
                                        }
                                    </span>
                                </div>
                            </div>
                            <h6>@item.Comment</h6>

                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }
    }
    else
    {

        <div class="row  mb-5">
            <div class="col-12 ">
                <div class="custom-media">
                    <div class="custom-media-body ">
                        <div class="d-flex justify-content-center pb-1">
                            <h4 style="text-align:center"> Bu kursa henüz hiç değerlendirme yapılmadı <i class="bx bx-sad"></i></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>