
<nav class="site-nav mb-5">
    <div class="pb-2 top-bar mb-3">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-6 col-lg-9">
                    <a href="#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> <span class="d-none d-lg-inline-block">Sorunuz Var mı?</span></a>
                    <a href="#" class="small mr-3"><span class="icon-phone mr-2"></span> <span class="d-none d-lg-inline-block">10 20 123 456</span></a>
                    <a href="#" class="small mr-3"><span class="icon-envelope mr-2"></span> <span class="d-none d-lg-inline-block">test@gmail.com</span></a>
                </div>

                <div class="col-6 col-lg-3 text-right">
                    <a href="login.html" class="small mr-3">
                        <span class="icon-lock"></span>
                        Giriş Yap
                    </a>
                    <a href="register.html" class="small">
                        <span class="icon-person"></span>
                        Kaydol
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="sticky-nav js-sticky-header">
        <div class="container position-relative">
            <div class="site-navigation text-center">
                <a href="/Default/Index" class="logo menu-absolute m-0">Learner<span class="text-primary">.</span></a>

                <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
                    <li class="active"><a href="index.html">Ana Sayfa</a></li>
                    <li><a href="staff.html">Öğretmenlerimiz</a></li>
                    <li><a href="news.html">Kurslar</a></li>
                    <li><a href="gallery.html">Duyurular</a></li>
                    <li><a href="about.html">İletişim</a></li>
                </ul>

                <a href="#" class="btn-book btn btn-secondary btn-sm menu-absolute">Kurslara Göz At</a>

                <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>

            </div>
        </div>
    </div>
</nav>