<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <link href="https://fonts.googleapis.com/css2?family=Display+Playfair:wght@400;700&family=Inter:wght@400;700&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="~/Templates/sneat-1.0.0/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/animate.min.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/aos.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/style.css">

    <title>@ViewBag.Title</title>
</head>
