
<nav class="site-nav mb-5">
    <div class="pb-2 top-bar mb-3">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-6 col-lg-9">
                    <a href="#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> <span class="d-none d-lg-inline-block">Sorunuz Var mı?</span></a>
                    <a href="#" class="small mr-3"><span class="icon-phone mr-2"></span> <span class="d-none d-lg-inline-block">10 20 123 456</span></a>
                    <a href="#" class="small mr-3"><span class="icon-envelope mr-2"></span> <span class="d-none d-lg-inline-block">test@gmail.com</span></a>
                </div>

                <div class="col-12 col-lg-12 text-right">

                    <a href="/StudentLogin/Index" class="small mr-3">
                        <span class="icon-lock"></span> Öğrenci Girişi
                    </a>
                    <a href="/TeacherLogin/Index" class="small mr-3">
                        <span class="icon-lock"></span> Öğretmen Girişi
                    </a>
                    <a href="/AdminLogin/Index" class="small mr-3">
                        <span class="icon-lock"></span> Admin Girişi
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="sticky-nav js-sticky-header">
        <div class="container position-relative">
            <div class="site-navigation text-center">
                <a href="/Default/Index" class="logo menu-absolute m-0">Learner<span class="text-primary">.</span></a>

                <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
                    <li><a href="/Default/Index">Ana Sayfa</a></li>
                    <li><a href="/TeacherUI/Index/">Öğretmenlerimiz</a></li>
                    <li><a href="/CourseUI/Index/">Kurslar</a></li>
                    <li><a href="/UIContact/Index">İletişim</a></li>
                    <li><a href="/Default/Index#SSS">SSS</a></li>
                </ul>

                <a href="/CourseUI/Index" class="btn-book btn btn-secondary btn-sm menu-absolute">Kurslara Göz At</a>

                <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>

            </div>
        </div>
    </div>
</nav>