<div class="site-footer">


    <div class="container">

        <div class="row">
            <div class="col-lg-6 mr-auto">
                <div class="widget">
                    <h3>Hakkımızda<span class="text-primary">.</span> </h3>
                    <p>Öğrencilerimizin ihtiyaçlarına odaklanarak eğitim platformumuzu sürekli olarak geliştiriyoruz. Kullanıcı dostu arayüzümüz ve kolay erişilebilir içeriklerimiz ile öğrencilerimizin eğitim hedeflerine ulaşmalarını destekliyoruz.</p>
                </div> <!-- /.widget -->
   
            </div> <!-- /.col-lg-3 -->

            <div class="col-lg-6">
                <div class="widget">
                    <h3>İletişim</h3>
                    <address>Kocaeli - Değirmendere</address>
                    <ul class="list-unstyled links mb-4">
                        <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
                        <li><a href="mailto:info@mydomain.com">info@test.com</a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-3 -->

        </div> <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>. Tüm Hakları Sakıdır.
            </div>
        </div>
    </div> <!-- /.container -->
</div>
