@using LeanerProject.Models.ViewModels
@model List<DasboardViewModel>
<div class="col-md-8  order-0 mb-4">
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
            <div class="card-title mb-0">
                <h5 class="m-0 me-2">İstatistikler</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
            </div>
            <ul class="p-0 m-0">
                @foreach (var item in Model)
                {
                    <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded bg-label-primary">

                                <i class="bx bxs-star"></i>
                            </span>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0">@item.CategoryName Kategorisine Ait Öğrenci Geri Dönüş Ortalama Puanı</h6>
                                <small>@item.CategoryCount</small>

                            </div>
                            <div class="user-progress">
                                <small class="fw-semibold">@item.CategoryAvg</small>
                            </div>
                        </div>
                    </li>
                }


            </ul>
        </div>
    </div>
</div>