@model List<LearnerProject.Models.Entities.Review>
<div class="untree_co-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center mx-auto">

                <h3 class="line-bottom mb-4">Öğrencilerimizin Görüşleri</h3>
                <div class="owl-carousel wide-slider-testimonial">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <blockquote class="block-testimonial">

                                <p>
                                    &ldquo; @item.Comment.&rdquo;
                                </p>
                                <div class="author">
                                    <h3>@item.Student.NameSurname</h3>
                                    <p class="position">@item.Course.CourseName</p>
                                    <div class="container-fluid col-md-4">
                                        <a href="/CourseDetails/Index/@item.CourseId" class="btn btn-primary">Kursa Göz At</a>
                                    </div>
                           
                                </div>
                            </blockquote>
                        </div>
                    }



                </div>

            </div>
        </div>
    </div>
</div>