
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        window.onload = function () {
            const container = document.querySelector('.container');
            //container.classList.add('loaded');

           
        }
        $(".btn1").click(function () {
            $(".div1").fadeIn();
            document.getElementsByClassName("div1").classList.add("container");
         
        });


    </script>
</head>
<body>
    <input type="text" placeholder="Number 1" /> + <input type="text" placeholder="Number 2" /> <input type="button" class="btn1" value="Calc" />
    <div style="display:none"  class="div1">

        <img src="https://t4.ftcdn.net/jpg/04/43/21/17/360_F_443211705_cULEBX9irazpZ8qxRvG1BtfRLIiIB2pM.jpg" alt="Fotoğraf">
    </div>



</body>
</html>
